.navbar {
    border-top: 4px solid #648880;

    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 2;
    position: absolute;
    color: rgb(0, 139, 69);
 }

 .navbar-bg {
     background-color: rgb(219, 250, 219);
 }

 .nav-menu {
     display: flex;
 }

 li {
     
     padding-right: 30px;
 }

 .nav-icons {
     display: none;
    
 }

 .mobmenu {
     display: none;
 }

 .icon {
    padding-right:20px;
    font-size: 4rem;
    cursor: pointer;
 }


 @media screen and (max-width: 940px) {

   

    .mobmenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: -110vh;
        left: 0;
        position: absolute;
        justify-content: space-between;
        /* align-items: center; */
        /*color: rgba(255, 255, 255, .95); */
        background-color: rgb(255, 212, 236);
        transition: 0.3s;
        color: rgb(0, 139, 69);
    }
    .active {
        top: 100px;
    }

    .mobmenu li {
        padding: 1.5rem 1rem;
        margin: 0 1rem;
        border-bottom: 2px solid purple;
    }
    .nav-mob {
        margin: 1rem 0;
    }
    .nav-menu {
        display:none;
    }
   
    .nav-icons {
        display:block;
    }
    
    
 }